<table class="table table-hover">
    <tr class="d-flex">
        <td class="col-3">

            <h3 class="text-center"><a href="{{url_for('main.assets', assetname=asset.name)}}">{{ asset.name }}</a></h3>
            
        </td>
        <td class="col-9">
            <p>Created at: {{ moment(asset.created_at).format('LLL') }}</p> 
            <p>Created by: {{ asset.owner.username }}</p> 
            <p>Description: {{ asset.description }}</p>
            
        </td>
    </tr>
</table>

