
<div class="row">
    <div class="col-sm-3">
        <h3><a href="{{url_for('main.assets', assetname=asset.name)}}">{{ asset.name }}</a></h3>
    </div>
    <div class="col-sm-7">
        <p>last active: {{ moment(asset.last_active).format('dddd, h:mm a') }}</p> 
        <p>Created by: {{ asset.owner.username }}</p> 
        <p>Description: {{ asset.description }}</p>
    </div>

    <div class="col-sm-2">

        <div class="span2">
          
        {% if current_user.is_following(asset) %}
            <a class="btn btn-primary btn-block" href="{{url_for('main.unfollow', assetname = asset.name)}}" role="button">unfollow</a>
        {% else %}
            <a class="btn btn-primary btn-block" href="{{url_for('main.follow', assetname = asset.name)}}" role="button">follow</a>
        {% endif %}
        </div>
 
        
        <div class="span2">        
            <a class="btn btn-primary btn-block" href="{{url_for('main.assets', assetname=asset.name)}}" role="button">asset page</a>
        </div>
    </div>

    
</div>