{% extends "base.html" %}

{% block app_content %}

<div>
    <h1>What is this?</h1>


    <p>The idea of this platform was to look at paticular items, it can be finacial assets,
        a product you are intersted in buying, allowing people to comment on the pros and cons, include 
        attachements that could be valuable in the desision making process. </p>

        <p>This was made with Flask, amazon s3 for image storage, elasticsearch for searching, and postgres for 
            the database. 
        </p>

        <p>I based a lot of this project on the fantastic tutorial by Miguel Grinberg which you can find
             <a href="https://blog.miguelgrinberg.com/post/handling-file-uploads-with-flask">here</a>.</p>

        <p>Email me for more questions! <a href="mailto:graham.cr.baker@gmail.com">graham.cr.baker@gmail.com</a></p>

        
</div>


{% endblock %}