{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="col-md-12">
    <h1>{{ asset_obj.name }}</h1> 
    <p>Created at: {{ moment(asset_obj.created_at).format('LLL')  }}</p>
    <p>Created by: {{ asset_obj.owner.username }}</p>
    <p>Description: {{ asset_obj.description }}</p>
</div>


{% if comments %}
<div class="col-md-12">
    <h2>comments</h2>

    {% for comment in comments %}

        <table class="table table-hover">
            <td width="70px"><img src="{{ comment.author.avatar(70) }}"></td>
            <td> {{ comment.author.username}} says: <b>{{ comment.body }}</b></td>
        </table>
    {% endfor %}
</div>


{% else %}
<div class="col-md-12">
<p>no comments yet</p>
</div>

{% endif %}







<div class="col-md-12">

    {{ wtf.quick_form(form) }}
</div>


{% endblock %}