{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">
    <div class="col-md-4">
        <h1>{{ asset_obj.name }}</h1>
        <p>last updated at: {{ moment(asset_obj.last_active).format('LLL')  }}</p>
        <p>Created by: {{ asset_obj.owner.username }}</p>

        {% if attach %}
        {% for a in attach %}

            <p> <a href="{{url_for('static', filename='uploads/' + a.name)}}">{{a.name}}</a></p>

        {% endfor %}


        {% endif %}
    
        {% if current_user.is_following(asset_obj)%}
        <a class="btn btn-primary" href="{{url_for('main.unfollow', assetname = asset_obj.name)}}" role="button">unfollow</a>
        {% else %}
        <a class="btn btn-primary" href="{{url_for('main.follow', assetname = asset_obj.name)}}" role="button">follow</a>
        {% endif %}

        {% if asset_obj.owner == current_user %}
        <a class="btn btn-primary" href="{{url_for('main.edit_asset', assetname=asset_obj.name)}}" role="button">edit asset</a>
        {% endif %}
    </div>

    <div class="col-md-8">
        <br>
        <br>
        <div class="well">
            <p>{{ asset_obj.description }}</p>
    
        </div>
    </div>    
</div>

<div class="row">
    <br>
    <br>
</div>

<div class="row">
    
    <div class="col-md-12 border">

    {% if comments %}
        <h3>comments</h3>

        {% for comment in comments %}

            {% include '_comment.html' %}
        {% endfor %}



    {% else %}

        <div class="well">
            <p class="text-center">no comments yet</p>
        </div>
        


    {% endif %}

    </div>

</div>



<div class="col-md-12">

    {{ wtf.quick_form(form) }}
</div>


{% endblock %}